body{
  background-color: #edf0f3;
}

.paymentTable{
  background-color: #ffffff;
  font-size: 1em;
  padding-bottom: 20px;
  .customInfo{
    position: relative;
  }
  .customLabel{
    width: 80px;
    margin: 10px 0;
  }
  table{
    text-align: center;
    tr:first-child{
      height: 28px;
    }
    .counts{
      width: 50px;
    }
  }
}

@media screen and (min-width: 768px){
  .paymentTable {
    margin-top: 135px;
    min-height: 200px;
    .noItem{
      margin: 90px auto;
      text-align: center;
    }
    .customAddress{
      width: 600px;
    }
    .customTel{
      position: absolute;
      left: 485px;
      top: 40px;
    }
    .customInfo{
      padding-left: 40px;
    }
    table{
      .col1{
        width: 8.3333333%;
      }
      .col6{
        width: 41.666666%;
      }
    }
  }
  table{
    margin-top: 10px;
    .tableHead{
      font-weight: bold;
    }
    .tableItems{
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    .tableItems:first-child{
      border-top: 1px solid #ddd;
    }
  }
  .itemCount{
    display: inline-block;
  }
  .pay{
    float: right;
  }
  .counter{
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px){
  .paymentTable{
    min-height: 300px;
    margin-top: 70px;
    table{
      margin-top: 10px;
    }
    .counts{
      width: 50px;
    }
    .counter{
      padding-top: 10px;
    }
  }
  .itemCount{
    text-align: right;
  }
  .pay{
    a{
      display: inline-block;
      height: 30px;
      border-radius: 3px;
      color: #ffffff;
      line-height: 30px;
      padding: 0 15px;
      text-decoration: none;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #aaa), color-stop(1, #888));
    }
    a:last-child{
      float: right;
    }
  }
}








