* {
  margin: 0;
  padding: 0; }

/*set font */
body {
  background: #edf0f3; }

.wb_contentFrameOut {
  background: #ffffff;
  position: relative;
  top: 120px;
  margin-bottom: 120px; }

.wb_contentFrameOut hr {
  margin-bottom: 50px; }
.wb_contentFrameOut .content_1 h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_2 div img {
  width: 300px;
  height: 300px; }
.wb_contentFrameOut .content_2 div div h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_2 div div p {
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
  line-height: 27px;
  color: #333; }
.wb_contentFrameOut .content_2 div div h3 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  line-height: 27px;
  box-shadow: 1px 1px 1px 1px #ddd; }
  .wb_contentFrameOut .content_2 div div h3 a {
    text-decoration: none; }
    .wb_contentFrameOut .content_2 div div h3 a p {
      color: #b42424;
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_3 h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_3 div ul li {
  list-style: inherit;
  line-height: 27px; }
  .wb_contentFrameOut .content_3 div ul li a {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    color: #b42424; }
  .wb_contentFrameOut .content_3 div ul li a:hover {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    color: #741717; }
.wb_contentFrameOut .content_3 div img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  width: 250px;
  height: 250px; }
.wb_contentFrameOut .content_4 h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_4 div img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  width: 350px;
  height: 250px; }
.wb_contentFrameOut .content_4 div div p {
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
  line-height: 27px;
  color: #333; }
.wb_contentFrameOut .content_4 div div h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_4 div div h3 a {
    color: #b42424; }
  .wb_contentFrameOut .content_4 div div h3 a:hover {
    color: #741717; }
.wb_contentFrameOut .content_5 h2, .wb_contentFrameOut .content_6 h2, .wb_contentFrameOut .content_7 h2 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_5 div img, .wb_contentFrameOut .content_6 div img, .wb_contentFrameOut .content_7 div img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  width: 380px; }
.wb_contentFrameOut .content_5 div div p, .wb_contentFrameOut .content_6 div div p, .wb_contentFrameOut .content_7 div div p {
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
  line-height: 27px;
  color: #333; }
.wb_contentFrameOut .content_5 div div h3, .wb_contentFrameOut .content_6 div div h3, .wb_contentFrameOut .content_7 div div h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_5 div div h3 a, .wb_contentFrameOut .content_6 div div h3 a, .wb_contentFrameOut .content_7 div div h3 a {
    color: #b42424; }
  .wb_contentFrameOut .content_5 div div h3 a:hover, .wb_contentFrameOut .content_6 div div h3 a:hover, .wb_contentFrameOut .content_7 div div h3 a:hover {
    color: #741717; }
.wb_contentFrameOut .content_5 div div li, .wb_contentFrameOut .content_6 div div li, .wb_contentFrameOut .content_7 div div li {
  list-style: none;
  line-height: 27px; }
  .wb_contentFrameOut .content_5 div div li a, .wb_contentFrameOut .content_6 div div li a, .wb_contentFrameOut .content_7 div div li a {
    color: #b42424;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px; }
  .wb_contentFrameOut .content_5 div div li a:hover, .wb_contentFrameOut .content_6 div div li a:hover, .wb_contentFrameOut .content_7 div div li a:hover {
    color: #741717;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px; }
.wb_contentFrameOut .content_7 div div li {
  list-style: inherit; }
.wb_contentFrameOut .content_8_1 {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px; }
  .wb_contentFrameOut .content_8_1 strong {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 27px;
    color: #333; }
  .wb_contentFrameOut .content_8_1 p {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 27px;
    color: #333; }
  .wb_contentFrameOut .content_8_1 a {
    color: #b42424;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px; }
  .wb_contentFrameOut .content_8_1 a:hover {
    color: #741717;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px; }
.wb_contentFrameOut .content_9 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_9 div div h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
.wb_contentFrameOut .content_9 div div p {
  font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
  line-height: 27px;
  color: #333; }
.wb_contentFrameOut .content_10_1 {
  margin: 40px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px; }
  .wb_contentFrameOut .content_10_1 h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_10_1 p {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 27px;
    color: #333; }

@media screen and (max-width: 768px) {
  .wb_contentFrameOut {
    background: #ffffff;
    position: relative;
    top: 60px;
    margin-bottom: 120px; }

  .wb_contentFrameOut hr {
    margin-bottom: 2px; }
  .wb_contentFrameOut .content_1 h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_2 div img {
    width: 200px;
    height: 200px; }
  .wb_contentFrameOut .content_2 div div h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_2 div div h3 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    line-height: 20px;
    box-shadow: 1px 1px 1px 1px #ddd; }
    .wb_contentFrameOut .content_2 div div h3 a {
      text-decoration: none; }
      .wb_contentFrameOut .content_2 div div h3 a p {
        font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
        font-size: 14px;
        line-height: 20px;
        color: #b42424; }
  .wb_contentFrameOut .content_3 h4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_3 div ul li {
    list-style: none;
    line-height: 27px; }
    .wb_contentFrameOut .content_3 div ul li a {
      font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
      font-size: 16px;
      color: #b42424; }
    .wb_contentFrameOut .content_3 div ul li a:hover {
      font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
      font-size: 16px;
      color: #741717; }
  .wb_contentFrameOut .content_3 div img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px;
    width: 250px;
    height: 250px; }
  .wb_contentFrameOut .content_4 h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_4 div img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px;
    width: 250px;
    height: 250px; }
  .wb_contentFrameOut .content_4 div div p {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 27px;
    color: #333; }
  .wb_contentFrameOut .content_4 div div h3 {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    line-height: 20px; }
    .wb_contentFrameOut .content_4 div div h3 a {
      color: #b42424; }
    .wb_contentFrameOut .content_4 div div h3 a:hover {
      color: #741717; }
  .wb_contentFrameOut .content_5 h2, .wb_contentFrameOut .content_6 h2, .wb_contentFrameOut .content_7 h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
  .wb_contentFrameOut .content_5 div img, .wb_contentFrameOut .content_6 div img, .wb_contentFrameOut .content_7 div img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px;
    width: 250px; }
  .wb_contentFrameOut .content_5 div div p, .wb_contentFrameOut .content_6 div div p, .wb_contentFrameOut .content_7 div div p {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 27px;
    color: #333; }
  .wb_contentFrameOut .content_5 div div h3, .wb_contentFrameOut .content_6 div div h3, .wb_contentFrameOut .content_7 div div h3 {
    font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    line-height: 20px; }
    .wb_contentFrameOut .content_5 div div h3 a, .wb_contentFrameOut .content_6 div div h3 a, .wb_contentFrameOut .content_7 div div h3 a {
      color: #b42424; }
    .wb_contentFrameOut .content_5 div div h3 a:hover, .wb_contentFrameOut .content_6 div div h3 a:hover, .wb_contentFrameOut .content_7 div div h3 a:hover {
      color: #741717; }
  .wb_contentFrameOut .content_5 div div li, .wb_contentFrameOut .content_6 div div li, .wb_contentFrameOut .content_7 div div li {
    list-style: none;
    line-height: 27px; }
    .wb_contentFrameOut .content_5 div div li a, .wb_contentFrameOut .content_6 div div li a, .wb_contentFrameOut .content_7 div div li a {
      color: #b42424;
      font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
      font-size: 16px; }
    .wb_contentFrameOut .content_5 div div li a:hover, .wb_contentFrameOut .content_6 div div li a:hover, .wb_contentFrameOut .content_7 div div li a:hover {
      color: #741717;
      font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
      font-size: 16px; }
  .wb_contentFrameOut .content_10_1 {
    margin: 0;
    padding: 2px;
    border-radius: 10px; }
    .wb_contentFrameOut .content_10_1 h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      font-family: "rooney-web",Georgia,"Times New Roman",Times,serif; }
    .wb_contentFrameOut .content_10_1 p {
      font-family: "rooney-web",Georgia,"Times New Roman",Times,serif;
      font-size: 16px;
      line-height: 27px;
      color: #333; }
    .wb_contentFrameOut .content_10_1 form input {
      width: 100%; } }
