*{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}


/*字体*/
@mixin fontFamily{
  font-family:  "rooney-web",Georgia,"Times New Roman",Times,serif;
}
@mixin fontSizeMin{
  color: 14px;
}
@mixin sub-foot{
  font-family: "freight-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 80%;
  color: #3b3b3b;
  line-height: 35px;
}
/*head文字颜色*/
@mixin headFontColor{
  color: #941191;
  font-size: 18px;
}
@mixin h5Font{
  font-size: 14px;
  font-family:  "rooney-web",Georgia,"Times New Roman",Times,serif;
  font-weight: 700;
}
@mixin pFont{
  font-size: 18px;
  font-family:  "rooney-web",Georgia,"Times New Roman",Times,serif;
//  font-weight: 700;
  color: #ffffff;
}
/*对input-button全屏*/
@mixin inputButt{
  @include fontFamily;
  background-color: #1e941e;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  width: 60px;
  height: 25px;
}
@mixin imgSize{
  width: 204px;
  height: 50px;
}

/*对input-button小屏*/
@mixin inputButtMix{
  @include fontFamily;
  background-color: #1e941e;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size:16px;
  width: 50px;
  height: 30px;
}
@mixin imgSizeMin{
  width: 100px;
  height: 40px;
}
.backToTop{
//  z-index: -1;
  position: fixed;
  bottom: 0%;
  right: 2%;
  .backToTop_img{
//    border: 1px solid red;
    width: 55px ;
    height: 104px;
    background: url("../../img/head_foot/top.png") no-repeat -45px -20px;
  }

}


body>#header{
  .head_logo{
    margin-top: 10px;
    a{
      img{
        @include imgSize;
      }
    }
  }
  .head_loginRegister{
    p{
      @include pFont;
    }
    margin-top: 20px;
    input{
     @include inputButt;
    }
  }
  .head_button{
    input{
      @include inputButt;
    }
  }
  .head_nav{
    @include fontFamily;
    ul{
      li{
        float: right;
        a{
          @include headFontColor;
          text-decoration: none;
        }
      }
    }
  }
}
/*select*/
.activeLi{
  background:  #999999;
  width: 100%;
  height: 100%;
}
body>#footer{
  box-shadow: inset 0 5px 8px -3px #080808;
  background-color: #222;
  padding: 70px 0;
  margin-top:70px ;
  color: #626262;
  border-top: 1px solid #7b7b7b;
  h5{
    @include h5Font;
  }
  a{
    color:#b42424;
  }
  a:hover{
    color: #a22020;
  }
}

@media screen and (max-width:768px){
  body>#header{
    .head_logo{
      a{
        img{
          @include imgSizeMin;
        }
      }
    }
    .head_button{
      position: relative;
      left: 40px;
      margin-top: 15px;
      input{
       @include inputButtMix;
      }
    }

    .head_loginRegister{

      input{
        padding: 0;
        margin: 0;
        @include inputButtMix;
      }
    }
    .head_nav1{
      @include fontFamily;
      ul{
        li{
          a{
            @include fontSizeMin;
            @include headFontColor;
            text-decoration: none;
          }
        }
      }
    }
  }
}